<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeesmon.malayalambible"
    android:versionCode="5"
    android:versionName="1.4"
    android:installLocation="preferExternal" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MalayalamBibleApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_short"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
            android:name=".MalayalamBibleActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".ChaptersActivity" >            
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".ChapterViewActivity" >            
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".InfoActivity" >            
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".AppPreferencesActivity" >            
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".BookmarksListActivity" >            
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".BookmarksExpandableListActivity" >            
        </activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
        
        <provider android:name=".providers.MalayalamBibleBookmarksContentProvider" android:authorities="com.jeesmon.malayalambible.providers.malayalambiblebookmarkscontentprovider"></provider>
    </application>

</manifest>